@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	text-align: center; 
	width: 100%;
	height: 100%;
	font-family: 'Nanum Gothic';
	background: #ffffff;
	margin: 0 auto;
}

/* 최상위 div */
.basicInfoContainer {
	text-align: center; 
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: relative;
	margin-bottom: -180px;
}

/* 하위 div : 내용 */
.basicInfoContents {
	margin-top:50px;
	padding-left: 20px;
	display: inline-block;
	width : 100%;
	height: 100%;
}

#basicInfoSearchDiv {
	clear: inherit;
	margin-bottom: 10px;
}

#selectedSearchDiv {
	clear: inherit;
	float: left;
	margin-bottom: 10px;
}

.mainDiv {
	padding-left: 10px;
	width:590px;
	height: 400px;
}
