@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: "Nanum Gothic";
	width : 100%;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

.container {
	display: block;
	text-align: center;
	width: 100%;
	z-index: 10;
	position: relative;
}

.contents {
	margin-top: 50px;
	display: inline-block;
	width : 1800px;
	height: 100%;
}

/* 제목 */
#topTableP {font-size:30px;}

#topTableName {margin-top: 20px; margin-left: 10%;}

.leftContents {
	float:left;
	display: inline-block;
	width : 17%;
	margin-top: 0.5%;
	clear: inherit;
	
}
.centerContents {
	float:left;
	display: inline-block;
	padding-left: 0.3%;
	width : 26%;
	height: 640px;
	margin-left: 1.5%;
	clear: inherit;
}
.rightContents {
	float:left;
	display: inline-block;
	width : 33%;
	clear: inherit;
	margin-left: 1.5%;
	/* padding-left: 50px; */
}

/* 왼쪽 삼각형 */
#preEmployInfoAtag {
	float: left;
	margin-top: 12%;
	margin-left: 1.5%;
	margin-right: 2.5%;
	width: 10vh;
	width: 10vm;
}

#preEmployInfo {
	width: 0;
	height: 0;
	border-top: 9vh solid transparent;
	border-bottom: 9vh solid transparent;
	border-right: 9vh solid #ffffff;
	border-top: 9vm solid transparent;
	border-bottom: 9vm solid transparent;
	border-left: 9vm solid #ffffff;
	pointer: cursor;
	color: #000000;
	opacity: 0.5;
	z-index: 1;
}

#preEmployInfo:HOVER {
	width: 0;
	height: 0;
	border-top: 9vh solid transparent;
	border-bottom: 9vh solid transparent;
	border-right: 9vh solid #3a3a3d;
	border-top: 9vm solid transparent;
	border-bottom: 9vm solid transparent;
	border-left: 9vm solid #3a3a3d;
	pointer: cursor;
	color: #ffffff;
	opacity: 0.5;
	z-index: 1;
}

#insidePreEmployInfo {
	position: relative;
	width:9vh;
	width:9vm;
	left: 4.3%;
	top: -19px;
	z-index: 3;
}

/* 오른쪽 삼각형 */
#afterEmployInfoAtag {
	float: right;
	margin-top: 12%;
	margin-right: 1.5%;
	margin-left: 2.5%;
	width: 10vh;
	width: 10vm;
}

#afterEmployInfo {
	width: 0;
	height: 0;
	border-top: 9vh solid transparent;
	border-bottom: 9vh solid transparent;
	border-left: 9vh solid #ffffff;
	border-top: 9vm solid transparent;
	border-bottom: 9vm solid transparent;
	border-left: 9vm solid #ffffff;
	pointer: cursor;
	color: #000000;
	opacity: 0.5;
	z-index: 2;
}

#afterEmployInfo:HOVER {
	width: 0;
	height: 0;
	border-top: 9vh solid transparent;
	border-bottom: 9vh solid transparent;
	border-left: 9vh solid #3a3a3d;
	border-top: 9vm solid transparent;
	border-bottom: 9vm solid transparent;
	border-left: 9vm solid #3a3a3d;
	pointer: cursor;
	color: #ffffff;
	opacity: 0.5;
	z-index: 2;
}

#insideAfterEmployInfo {
	position: relative;
	width: 9vh;
	right: 9.3vh;
	width: 9vm;
	right: 9.3vm;
	top: -19px;
	z-index: 5;
}

/* 타이틀 */
.contentsTitle {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

#chart {
	display: inline;
	text-align: center;
	width : 1600px;
	min-width : 1600px;
}

#ExcelExport {
	float: right;
	background: transparent;
	border: none;
	clear: inherit;
	cursor: pointer;
}

#ExcelExport img {
	width: 17px;
	height: 17px;
}

#spanSubNameLeft {
	float: left;
	margin-bottom: 20px;
	clear: right;
}

#spanSubNameRight {
	float: right;
	margin-bottom: 20px;
	clear: inherit;
}

/* button */
#update, #delete, #cancel
, #historysearch, #historydelete, #historycancle, #historysave {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	display:inline-block;
	cursor:pointer;
	color:#112b3e;
	font-family: 'Nanum Gothic';
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	margin-left: 5px;
}
#update:hover, #delete:hover, #cancel:hover
, #historySearch:hover, #historydelete:hover, #historycancle:hover  {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dce9f9), color-stop(1, #ebf3fc));
	background:-moz-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-webkit-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-o-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-ms-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:linear-gradient(to bottom, #dce9f9 5%, #ebf3fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce9f9', endColorstr='#ebf3fc',GradientType=0);
	background-color:#dce9f9;
}
#update:active, #delete:active, #cancel:active
, #historySearch:active, #historydelete:active, #historycancle:active {
	position:relative;
	top:1px;
}


/* list Table */
.bordered {
	border: solid 1px #ebebeb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.menuSearch {
	width: 100%;
}

.bordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
	text-align: center;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}


/* Searching Table */
.search {
	table-layout: fixed;
	border: solid #ccc 1px;
	margin-bottom: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	/* width: 300px; */
}

.search tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.search td, .search th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: left;
}

.search td {
	padding: 0.8%;
}
.search td select {
	width: 100%;
	padding: 0.8%;
}

.search th {
	padding: 0.8%;
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.search td:first-child, .search th:first-child {
	border-left: none;
}

.search th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.search th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.search th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.search tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.search tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

/* input Table */
.inputbordered {
	border: dotted 1px #ebebeb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.inputbordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.inputbordered td, .inputbordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}


.inputbordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.inputbordered td:first-child, .inputbordered th:first-child {
	border-left: none;
}

.inputbordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.inputbordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.inputbordered th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.inputbordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.inputbordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.selected {
	background-color: #fbf8e9;
}

.selected2 {
	background-color: #fbf8e9;
}