@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.container {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	margin-bottom: -180px;
}

.grid {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 0 0 0;
}

/* menu */
.grid__item {
	float: left;
	position: relative;
	display: inline-block;
	margin: 0.4em;
	padding-top: 1.4em;
	width: 11.5vh;
	width: 11.5vm;
	height: 11.5vh;
	height: 11.5vm;
	border-radius: 4px;
	text-align: center;
	line-height: 5%;
	font-size: 1.9vh;
	font-size: 1.9vm;
	font-family: 'Nanum Gothic';
	box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.6);
	clear: inherit;
}

.grid__item p {
	margin-top: 14%;
	line-height: 110%;
	font-size: 2.4vh;
	font-size: 2.4vm;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	color: #FFFFFF;
}

.grid__item p:hover, p:focus {
	color: #d85270;
}

.grid__item:hover {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.grid__item:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* drop area */
.drop-area {
	z-index: 99;
	width: 100%;
	/* height: 70%; */
	text-align: center;
	background: #3498d3;
	margin-bottom: 1.2%;
	/* -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
	transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
	-webkit-transform: translate3d(0, 20px, 0); */
}
/* #51c6d7 #c4b935 #fd9328 #fed223 #3a3a3d #d85270*/

/* my menu */
.my_menu {
	float: left;
	text-align: left;
	position: relative;
	display: inline-block;
	margin: 2.3% 2.5% 1% 7%;
	width: 14vh;
	width: 14vm;
	height: 13vh;
	height: 13vm;
	border-radius: 4px;
	font-size: 4.5vh;
	font-size: 4.5vm;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	color: #FFFFFF;
	background: transparent;
	/* -webkit-transition: -webkit-transform 0.3s, background 0.3s;
	transition: transform 0.3s, background 0.3s;
	-webkit-backface-visibility: hidden; */
	clear: right;
}

/* drop item box */
.drop-area__item {
	z-index: 100;
	float: left;
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 1.5% 0.4% 0% 0.4%;
	width: 13.5vh;
	width: 13.5vm;
	height: 13.5vh;
	height: 13.5vm;
	border-radius: 4px;
	background: #adadad;
	/* -webkit-transition: -webkit-transform 0.3s, background 0.3s;
	transition: transform 0.3s, background 0.3s;
	-webkit-backface-visibility: hidden; */
	clear: right;
}

#dropAreaItemSpanId {
	font-size: 1.8vh;
	color: #ffffff;
	text-align: center;
	display:table-cell;
	vertical-align: middle;
	line-height: 130%;
}

.dropAreaHc {
	width:13.5vh; left:0; right:0; margin-left:auto; margin-right:auto;
}

.dropAreaVc {
	height:13.5vh; top: 0; bottom:0; margin-top:auto; margin-bottom:auto;
}

.drop-area__item.highlight {
	background: rgba(0, 0, 0, 0.15);
	-webkit-transform: scale3d(1.08, 1.08, 1);
	transform: scale3d(1.08, 1.08, 1);
}

.drop-area__item::before, .drop-area__item::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: rgba(0, 0, 0, 0.15);
	font-size: 1.5em;
	margin-top: -0.35em;
	font-family: Nanum Gothic;
	pointer-events: none;
}

.drop-area__item::before {
	content: '\f067';
}

.drop-feedback.drop-area__item::before {
	opacity: 0;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
}

.drop-area__item::after {
	color: rgba(255, 253, 197, 0.6);
	content: '\f00c';
	font-size: 3em;
	margin-top: -0.5em;
	opacity: 0;
	/* -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(2, 2, 1); */
	transform: scale3d(2, 2, 1);
}

.drop-feedback.drop-area__item::after {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* trash Can */
.drop-area__item_trash_can {
	float: left;
	position: relative;
	display: inline-block;
	width: 1%;
	margin: 1.3% 0.4% 0% 0.4%;
	width: 13.5vh;
	width: 13.5vm;
	height: 13.5vh;
	height: 13.5vm;
	border-radius: 4px;
	color: #d9eeff;
}

.drop-area__item_trash_can img {
	width: 12vh;
	width: 12vm;
	height: 13.5vh;
	height: 13.5vm;
}

.drop-area.show .drop-area__item_trash_can.highlight {
	color: #fff;
	-webkit-transition: none;
	transition: none;
}

.drop-feedback.drop-area__item_trash_can::before {
	-webkit-animation: highlight 0.3s forwards;
	animation: highlight 0.3s forwards;
}

.drop-area.show .drop-area__item_trash_can {
	-webkit-transform: translate3d(0, -140px, 0);
	transform: translate3d(0, -140px, 0);
	pointer-events: auto;
}

.drop-area.show .drop-area__item_trash_can:first-child, .drop-area.show .drop-area__item_trash_can:last-child
	{
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.drop-area.show .drop-area__item_trash_can:nth-child(2), .drop-area.show .drop-area__item_trash_can:nth-child(4)
	{
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

/* bottom */
/* .bottom {
	position: absolute;
	clear: left;
	float: left;
	width: 100%;
	height: 150px;
	left: 0;
	bottom: 0px;
} */

/* browser resizing */
/* @media screen and (max-width: 1701px) {
	.grid__item {
		font-size: 30%;
		width: 100px;
		height: 100px;
	}
	.drop-area {
		font-size: 75%;
		height: 60%;
	}
	.drop-area__item {
		font-size: 90%;
		height: 100px;
	}
	.my_menu {
		line-height: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 800px) {
	.grid {
		padding: 0 2em;
	}
	.grid__item {
		font-size: 75%;
	}
} */