@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	text-align: center;  
	width: 100%;
	height: 100%;
	font-family: 'Nanum Gothic';
	background: #ffffff;
	margin: 0 auto;
}

.container {
	display: block;
	text-align: center;
	width: 100%;
	z-index: 10;
	position: relative;
	margin-bottom: -180px;
}

.contents {
	padding-left:5%;
	padding-right:5%;
	padding-top:50px;
}

.contentsTitle {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.selected {
	background-color: #fbf8e9;
}

.selectedemp {
	background-color: #fbf8e9;
}

table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	text-align: center;
}

#projectBudgetInfoListForm {
	display: inline;
	width : 100%;
}


/* Search Table */
.search {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	font-size: 1.5vh;
	font-size: 1.5vm;
}

.search td, .search th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

.search th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.search td:first-child, .search th:first-child {
	border-left: none;
}

.search tr {
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

/* list Table */
#projectBudgetInfoListTable {
	width:100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#projectBudgetInfoDetailForm {
	width:100%;
	margin-left: 40px;
}

.bordered {
	float:left;
	width:50%;
	line-height: 5px;
	table-layout: fixed;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/* -webkit-box-shadow: 0 1px 1px #ccc; */
	/* -moz-box-shadow: 0 1px 1px #ccc; */
	/* box-shadow: 0 1px 1px #ccc; */
	font-size: 1.5vh;
	font-size: 1.5vm;
}

.bordered tr:HOVER {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.projectBudgetInfoRow {
	cursor: pointer;
}

.projectBudgetInfoRow:hover {
	background: #fbf8e9;
}

.bordered th {
	text-align: center;
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td, .bordered th {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}


#projectBudgetInfoListTable .bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

#projectBudgetInfoListTable .bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}
.bordered .pjStatusT {
	width: 3%;
}

.bordered .pjIdT {
	width: 5%;
}

.bordered .pjNameT {
	width: 5%;
}

.bordered .pjDateT {
	width: 6%;
}

.bordered .NumTT {
	width: 45%;
}

.bordered .NumST {
	width: 30%;
}

.bordered .MMTT {
	width: 10.5%;
}

.bordered .NumT {
	width: 5%;
}

.bordered .MM{ 
	width: 3.5%;
}

.bordered .dataList .pjStatusT, .bordered .dataList .pjIdT
, .bordered .dataList .pjNameT, .bordered .dataList .pjDateT {
	text-align: left;
}

.bordered .dataList .NumT, .bordered .dataList .MM {
	text-align: right;
}
 
