@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: "Nanum Gothic";
	width : 100%;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

/* 理쒖긽�쐞 div */
.container {
	top: 50px;
	display: block;
	text-align: center;
	width: 100%;
	padding-bottom:1.9em;
	z-index: 10;
	position: relative;
	margin-bottom: -180px;
}

/* �븯�쐞 div : �궡�슜 */
.contents {
	margin-top: 30px;
	display: inline-block;
	width : 1600px;
	min-width : 1600px;
}

/* �븯�쐞 div : �쇊履� */
.leftContents {
	float:left;
	display: inline-block;
	width : 640px;
	min-width : 640px;
	clear: inherit;
}
/* �븯�쐞 div : �삤瑜몄そ */
.rightContents {
	float:inherit;
	display: inline-block;
	text-align: center;
	width : 765px;
	min-width : 765px;
	clear: inherit;
}

/* ���씠�� */
.contentsTitle {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

/* �궗吏� list */
#humanResourceList {
	margin-top: 50px;
	width: 700px;
	height: 580px;
	overflow: scroll;
}

#humanResourceList img {
	width: 150px;
	height: 150px;
	float:left;
	clear:right;
}

#humanResourceTd div {
	float:left;
	padding-left: 20px;
	clear:right;
}


/* �궡�슜 div */
#chart {
	display: inline;
	text-align: center;
	width : 1600px;
	min-width : 1600px;
}

/* �뿊�� 踰꾪듉 */
#ExcelExport {
	float: right;
	background: transparent;
	border: none;
	clear: inherit;
	cursor: pointer;
}

#ExcelExport img {
	width: 17px;
	height: 17px;
}

/* �꽌釉� �젣紐� */
#spanSubNameLeft {
	float: left;
	margin-bottom: 20px;
	clear: right;
}

#spanSubNameRight {
	float: right;
	margin-bottom: 20px;
	clear: inherit;
}

/* button */
#bottomLine, #insertButtonClass {
	float: right;
	text-align: right;
	padding-right: 20px;
	margin-top: 15px;
}

#humanResourceInsertBtn
, #humanResourceDeleteBtn
, #humanResourceResetBtn {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	height: 27px;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	text-align: center;
	text-decoration:none;
	display:inline-block;
	cursor:pointer;
	color:#112b3e;
	font-family: 'Nanum Gothic';
	font-size:16px;
	font-weight:bold;
	padding:6px 10px;
	margin-left: 5px;
}
#humanResourceInsertBtn:hover
, #humanResourceDeleteBtn:hover
, #humanResourceResetBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dce9f9), color-stop(1, #ebf3fc));
	background:-moz-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-webkit-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-o-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:-ms-linear-gradient(top, #dce9f9 5%, #ebf3fc 100%);
	background:linear-gradient(to bottom, #dce9f9 5%, #ebf3fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce9f9', endColorstr='#ebf3fc',GradientType=0);
	background-color:#dce9f9;
}
#humanResourceInsertBtn:active
, #humanResourceDeleteBtn:active
, #humanResourceResetBtn:active {
	position:relative;
	top:1px;
}


/* list Table */
/* #waitingListJanuaryDiv, #waitingListFebruaryDiv, #waitingListMarchDiv
, #waitingListAprilDiv, #waitingListMayDiv, #waitingListJuneDiv
, #waitingListJulyDiv, #waitingListAugustDiv, #waitingListSeptemberDiv
, #waitingListOctoberDiv, #waitingListNovemberDiv, #waitingListDecemberDiv {
	height:350px;
	width: 530px;
} */

/* parent */
#coverwaitingList {
	width: 170vh;
    width: 170vm;
    height: 750px;
    position: relative; 
  	overflow-x: auto;
  	overflow-y: auto;
}
/* child */
.bordered {
	width: 400vh;
	width: 400vm;
	text-align: center;
	line-height: 1px;
	table-layout: fixed;
	overflow: hidden;
}

.bordered table {
	width: 8%;
	float: left;
	clear: right;
}

.bordered tr {
	text-align: center;
}

.bordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
	font-size: 1.5vh;
	font-size: 1.5vm;
	border-top: 1px solid #ccc;
}

.bordered td {
	height: 30px;
}

.bordered td select {
	width: 100%;
}

#pjNameTd {
	width:145px;
	line-height: 27px;
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	clear: right;
}

.bordered th {
	height: 30px;
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}


/* 寃��깋 */
.search {
	table-layout: fixed;
	border: solid #ccc 1px;
	margin-top: 10px;
	margin-bottom: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.search tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.search td, .search th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	/* text-align: center; */
}

.search td {
	padding: 1.4%;
}

.search th {
	width: 150px;
}

.search td select, .search td input[type="text"] {
	width: 153px;
	padding: 0 5px;
}

.search th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.search td:first-child, .search th:first-child {
	border-left: none;
}

.search th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.search th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.search th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.search tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.search tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}
